{JAVASCRIPT}
{HIDDENVARS}
<div class="contentheader">Categories</div>
<div class="contentsection">
  <span id="{JSID}categorylist">{CATEGORYLIST}</span>
  <p>
    {CATEGORYSELECTION}
    <br>&nbsp;<br><input type="button" id="{JSID}addcatbutton" name="addcatbutton" value="Add Categories" class="mainoption" />
    <input type="button" id="{JSID}removecatbutton" name="removecatbutton" value="Remove Categories" />
  </p>
</div>
