<form id="{JSID}insertform" method="post">
  {JAVASCRIPT}
  {HIDDENVARS}
  <input id="{JSID}insert" type="button" value="{LABEL}">
  <!-- BEGIN switch FILENAME -->
  <input id="{JSID}filename" type="text" size="30" maxlength="255" placeholder="Image Filename" />
  <!-- END switch FILENAME -->
</form>
