/* Stylesheet for foram na gidhlig */

/*
:link = fr Verweise zu noch nicht besuchten Seiten
:visited = fr Verweise zu bereits besuchten Seiten
:focus = fr Elemente, die den Fokus erhalten, z.B. durch "Durchsteppen" mit der Tabulator-Taste (CSS 2.0)
:hover = fr Elemente, whrend der Anwender mit der Maus darber fhrt (CSS 2.0)
:active = fr gerade angeklickte Elemente

Diese Farbe hier zum hervorheben?
a.navtitle:link	 { color : #A8002A;}

linkfarbe blau: 003399
aktuelle -> visited

*/

/* General page style.*/
body {
	background-color: #44B4EC; text=#002373;
}

/* General font families for common tags */
font { font-family: Arial, Helvetica, sans-serif;}
th,td,p,div,span { font-family: Arial, Helvetica, sans-serif;  color: #002373;}
th.en,td.en,p.en,div.en,span.en { color: #4B0026; }

/* Copyright and bottom info */
.footer { font-size: 65%; font-family: Arial, Helvetica, sans-serif; letter-spacing: -1px;}



td.table {background-color: white;}

/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: #A9E2FF; background-image:url(img/bgfng.gif); background-repeat:no-repeat; border: 1px #65CCFF solid; }


/* Header cells - the blue and silver gradient backgrounds */
th	{
	font-size: 70%; font-weight : bold;
	height: 25px;
}

/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/

th.thHead,th.thTop {
	font-weight: bold; border: #65CCFF; border-style: solid; height: 28px;
}

th.thHead { font-size: 75%; border-width: 1px 1px 1px 1px;
    background-color: white; }
th.thTop	 { border-width: 1px 0px 0px 0px; }

td.spacer {
			background-color:white; border: 1px white solid; height: 5px;
}

th.thTop,thHead	 { border-width: 1px 0px 1px 0px; }

/* The largest text used in the index page title and toptic title etc. */
.titlealt	{
	color : #0066CC;
}


/* Site name */
.maintitle	{
	font-weight: bold; font-size: 250%; font-family: "Monotype Corsiva", "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none; line-height : 160%; color : #000000;
}


/* The text used for individual page's titles */
.pagetitle	{
	font-weight: bold; font-size: 150%; font-family: "Monotype Corsiva", "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none; line-height : 160%; color : #0066CC;
}
.pagetitle span.en {
	font-family: "Monotype Corsiva", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color : #FF1751;
}

/* Articles */
.articlesource	{font-size : 75%; color : #000000; }
.articlesource span.en	{color : #000000; }
.articleauthor	{font-size : 75%; font-weight: bold;	font-style: italic;  color : #000000;}
.articleauthor span.en	{color : #000000;}
.articlelocation	{font-size : 75%; color : #000000; }
.articlelocation span.en	{color : #000000; }
.articledate	{font-size : 75%; font-style: italic; color : #000000;}
.articledate span.en	{color : #000000;}
.articlesynopsis	{ font-size : 75%; font-weight: bold;}
.articlesynopsis span.en	{}

/* The text used for individual page's titles */
.sectiontitle	{
	font-size: 120%;  font-family: "Monotype Corsiva", "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none; line-height : 160%; color : #0066CC;
}
.sectiontitle span.en	{
    font-family: "Monotype Corsiva", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color : #FF1751;
}


/* The text used for individual page's titles */
.sectionsubtitle	{
	font-size: 110%;  font-family: "Monotype Corsiva", "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none; line-height : 160%; color : #0066CC;
}
.sectionsubtitle span.en	{
    font-family: "Monotype Corsiva", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color : #FF1751;
}


/*
a {color : #3067F2;  text-decoration: none;}
a:hover		{ text-decoration: underline; color : #AA8CA6; }
*/

a:link	 {text-decoration: none; color : #0066CC;}
a:link span.en {text-decoration: none; color : #4E009E}
a:visited	 {text-decoration: none; color : #005BB5;}
a:visited	 span.en {text-decoration: none; color : #623D87;}
a:focus	 { color : #623D87;}
a:focus	 span.en { color : red;}
a:hover	 { text-decoration: underline; color : #3333CC;}
a:hover	 span.en {text-decoration: underline; color : #CC3399;}
a:active	 { color : blue;}
a:active	 span.en { color : #FF1751;}


/* Highlighted text */
.highlight	{font-size : 75%; font-weight: bold; color : #CC3399; }
a.highlight 	{  text-decoration: none; color : #AA8CA6; }
a.highlight:hover{ text-decoration: underline; color : #AA8CA6; }
a.highlight:active { text-decoration:none; font-weight:bold; color:#E9ACB5; }


/* Image caption text */
.caption	{ font-weight: bold; font-size: 65%; color: #000000;}


/* The text used for individual page's titles */
.navtitle	{ font-size: 110%; color: #0066CC}
.navtitle span.en	{ color: #FF1751}

.navhighlight	{ font-size: 110%; color : blue;}
.navhighlight span.en	{ color : #FF1751;}


/* Linklist link */
.linktitle	{ font-size: 110%;}

/* General text */
.gen, div.gen, span.gen { font-size : 75%; }
.genmed, div.genmed, span.genmed { font-size : 70%; }
.gensmall, div.gensmall, span.gensmall { font-size : 65%; }
td.gen, td.genmed, td.gensmall {background-color: white; }

a.gen, a.genmed, a.gensmall {color: #3067F2;}


/* Quoted text */
.quote, p.quote { font-size : 75%; font-style: italic;}
td.quote {background-color: #F2F1ED; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 70%;}

/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 75%; color: #0066CC;}
.forumlink span.en	{ color: #660066; }

/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 70%;}


/* Form elements */
input,textarea, select {
	font: normal 70% Arial, Helvetica, sans-serif;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	font-size: 70%; font-family: Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	font-weight : normal;
}

/**********************/
/**********************/
/* Styles for Gaidhlig */
/* color: #003366 */
/* title color: #0066CC */
/*
link     { color : #0066CC}
visited  { color : #005BB5;}
focus	 { color : #623D87;}
hover	 { color : #3333CC;}
active	 { color : blue;}
*/
/* Styles for English */
/* color: #660033 */
/* title color: #FF1751 */
/*
link	 { color : #4E009E;}
visited	 { color : #623D87;}
focus	 { color : red;}
hover	 { color : #CC3399;}
active	 { color : #FF1751;}
*/
/**********************/
/**********************/
