<!-- BEGIN switch IS_ROOT -->
<div style="margin-left:{MARGIN_LEFT}em; margin-top:0.5ex; white-space:nowrap;">
<!-- END switch IS_ROOT -->
<!-- BEGIN switch NO_ROOT -->
<div style="margin-left:{MARGIN_LEFT}em; margin-top:0.5ex; white-space:nowrap;">
<!-- END switch NO_ROOT -->
<a href="{LINK}" class="{LINK_CLASS}"{LINK_ATTRIBUTES} lang="{LANGUAGE}"><span class="navhighlight">{PAGE}:</span>&nbsp;<span class="{TITLE_CLASS}">{TITLE} ({PAGETYPE})</span></a>
{DESCRIPTION}
</div>
