
/************ overwrite background colors for form elements ************/

textarea, select, input {
	background-color : #01172E!important;
}

textarea:disabled, select:disabled, input:disabled {
	background-color : #0D2A43!important;
	color:#909090;
}

/* Separate properties for buttons; not supported by IE */
input[type=button], input[type=submit], input[type=reset], .button  {
	font-size:95%;
	background-color : #0D2A43!important;
}

/************ main layout containers ************/
html body {
	height:100%;
}


#header {
	/*border-style: solid;
	border-width: 0px 0px 1px 0px;*/
	padding-bottom:0.5em;
	height:8em;
}

#navigatorscroll {
	height:97%;
	overflow:auto;
	resize:horizontal;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	padding-left:0.5em;
	font-size: 95%;
	background-color: #01172E;
}


#navigator {
	height:68%;
}

#navigatorfixed {
	font-size:80%;
}

#contentarea {
	width: 77%;
	border: 1px solid #89CAC8;
	height:59% !important;
	max-height: 65% !important;
	overflow:auto;
	margin-top:1em;
	padding-bottom:120px;
}

#wrapper {
	height:93%;
	max-height:93%;
}


/************ header ************/

.admintoplinks {
	color:#DEA479;
	font-weight: bold;
	border: 1px solid #89CAC8;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	background-color: #0D2A43;
	height:1.2em;
	box-shadow:-1px -1px 3px 1px #305360 inset;
	background-image: url(img/navigator.gif);
	background-repeat:repeat-x;
}
.admintoplinks a {color: white; }

.admintoppageinfo {
	font-size:120%;
	margin:0.25em;
}


/* Site name */
.maintitle	{
	font-size: 250%;
	margin:0.25em;
}

/************ navigator ************/


/* Navigator category for site functions */
.sitenavcategory {
	width: 100%;
	text-align: left;
	border: #89CAC8;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	margin-top: 1em;
	font-size: 100%;
	color : #DECB97;
}

/* Navigator link for site functions */
.sitenavlink {
	font-weight: bold;
	font-size: 70%;
	margin-left:1em;
	margin-bottom:0.25em;
}
.sitenavlink a {
	color: white;
	text-decoration: none;
}

a.admintopframelink {
	text-decoration: none;
}

/************ content ************/

.inlinemessage {
	width: 100%;
	text-align: center;
	border: #89CAC8;
	background-color: #0D2A43;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	margin-top: 1em;
	font-size: 100%;
	box-shadow:4px 4px 3px #305360;
}

/* For admin messages when saving etc */
.messagebox {
	position: absolute;
	overflow: auto;
	z-index: 10;
	background:#0D2A43;
	padding:10px;
	border:2px solid #89CAC8;
	text-align:center;
	opacity: 0;
}


/* Title for content area */
/* todo kann weg? */
.contenttitle {
	font-size: 250%;
}

.headerpagetitle {
	margin-top: 1em;
}


/* Subtitle for dividing content area */
.contentheader {
	text-align: center;
	border: #89CAC8;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	font-size: 110%;
	background-color: #D4ECFB;
	color : #DEA479;
	font-weight: bold;
	padding:0.5em;
	background-image: url(img/navigator.gif);
	height: 26px;
}


/* Framing for sections of the page when editing contents */
.contentsection
{
	padding:10px;
	background-color: #0D2A43;
	border: 1px #89CAC8 solid;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	margin-bottom: 2em;
	margin-top:0px;
}

.contentoutline {
	margin-top:2em;
	box-shadow:4px 4px 3px #305360;
}

.contentheadersmall {
	font-weight:bold;
	padding-top:1em;
	font-size:110%;
}


/************ tables ************/

table.userlist {
	width:96%!important;
	margin-left:2%!important;
	margin-right:0em!important;
}

/************ menuedit ************/

.menueditpage {
	font-size:140%;
	padding-bottom:0.5em;
	padding-top:1em;
	border-style: solid;
	border-width: 1px 0px 0px 0px;

}

/************ editor ************/

.editorbuttonrow {
	margin-top:1em;
	padding-top:1em;
	padding-bottom:0.5em;
	text-align:center;
	border: #89CAC8;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
}

.editorlineleft {
	border-left: 1px solid #89CAC8;
	margin:0.5em;
	padding-left:1em;
}

.editorcodebuttonrow {
	margin-left:2em;
	padding-top:1em;
	padding-bottom:1em;
}

.editorcodebutton {
	padding:0px;
	margin:0.5em;
}

.editorpreviewarea {
	background-color: #01172E;
	padding:1em;
	margin-bottom:1em;
}

/************ forms ************/

.submitrow {
	padding-top:1em;
	text-align:left;
}

/* Explanation at bottom of fieldset */
/* todo this gets ignored. Why? */
.formexplain {
	padding-top:0.5em;
}

.labelleft {
	width:15em;
}

label {
	font-weight:bold;
}

.pageeditnavigationbuttons {
	padding-top:1em;
	margin-top:1em;
	margin-bottom:1em;
}


/************ Login & Profile form ************/

#contentarealogin {
	border: 1px solid #89CAC8;
	margin-top:1em;
	background-color: #01172E;
	padding:5em;
}

/************ Image Database ************/


.imagecontentarea {
	border: 1px solid #89CAC8;
	background-color: #01172E;
	margin-top:1em;
	width: 96%;
	padding-left:2em;
	padding-right:2em;
	margin-top:1em;
	margin-bottom:1em;
}

#imagelistwrapper {
	background-color: #0D2A43;
	border: 1px #89CAC8 solid;
	padding: 1em;
}
