{HEADER}
<!-- BEGIN switch MESSAGE -->{MESSAGE}<!-- END switch MESSAGE -->

<div class="invisible"><a href="#contentarea" accesskey="n" class="invisible">Skip navigation</a></div>

<div id="contentwrapper">
    <div id="navigator" title="{L_NAVIGATOR}">
        {NAVIGATOR}
    <!-- BEGIN switch BANNERS -->
        {BANNERS}
    <!-- END switch BANNERS -->
    </div>
    <div id="contentarea" title="{L_CONTENT}">
        {CONTENTS}
    </div>
</div>
<div class="newline"></div>
{FOOTER}
