<div class="imagecontentarea">
	<div class="contentoutline">
		<div class="contentheader">Add Image</div>
		<form id="addimageform" class="contentsection" enctype="multipart/form-data" method="post" onsubmit="event.preventDefault();">
			<div class="leftalign" style="width:31% !important; padding-right:2%;">
				<fieldset width="100%">
					<legend class="highlight">Image File</legend>
					<label for="addimagefile">Image file: </label>
					<input id="addimagefile" type="file" name="filename" size="30" maxlength="255" />
					<div class="formexplain"><strong>Required</strong>. Select an image file from your computer for uploading.<br />It will be uploaded to <i>{IMAGELINKPATH}</i></div>

					<br /><label for="addimagenewname">Rename Image: </label>
					<input id="addimagenewname" type="text" name="newname" size="30" maxlength="255" />
					<div class="formexplain"><strong>Optional</strong>. You can give the image a new filename if you want. <em>Do not add the filename extension!</em></div>

					<!-- BEGIN switch RESIZEIMAGEFORM -->
						{RESIZEIMAGEFORM}
						<div class="formexplain">
							<strong>Optional</strong>. If this is checked, the image will be scaled down to fit the default width of {DEFAULTIMAGEWIDTH} pixels.
							<br />Supported filetypes: <em>gif</em>, <em>jpeg</em>,<em>png</em>, <em>wbmp</em>, <em>xbm</em>.
						</div>
					<!-- END switch RESIZEIMAGEFORM -->

				</fieldset>
				<fieldset width="100%">
					<legend class="highlight">Thumbnail</legend>
					<!-- BEGIN switch CREATETHUMBNAILFORM -->
						{CREATETHUMBNAILFORM}
						<div class="formexplain">
							<strong>Optional</strong>. Deactivate this if you don't want a thumbnail for the newly uploaded image to be be created automatically.
							<br />Supported filetypes: <em>gif</em>, <em>jpeg</em>,<em>png</em>, <em>wbmp</em>, <em>xbm</em>.
						</div>
						<br /><div class="highlight">- or-</div><br />
					<!-- END switch CREATETHUMBNAILFORM -->
					<label for="addimagethumbnail">Thumbnail file: </label>
					<input id="addimagethumbnail" type="file" name="thumbnail" size="30" maxlength="255" />
					<div class="formexplain">
						<strong>Optional</strong>. A small preview version of the image.<br />Thumbnails should be {THUMBNAILSIZE} pixels in width.
						<!-- BEGIN switch NOGD -->
						<br /><span class="highlight">This server cannot generate thumbnails for you.</span> You will have to make and upload a small version of the image yourself. You can also do this later.
						<!-- END switch NOGD -->
					</div>

			</div>
			<div class="leftalign" style="width:31% !important; padding-right:2%;">
				<fieldset>
					<legend class="highlight">Image description</legend>
					<fieldset>
						<legend>Caption Elements</legend>
						<label for="addimagecaption">Caption: </label>
						<input id="addimagecaption" type="text" name="caption" value="" size="30" maxlength="200" />
						<div class="formexplain">Describe what's on the image.</div>

						<br /><label for="addimagesource">Source Name: </label>
						<input id="addimagesource" type="text" name="source" value="" size="30" maxlength="255" />
						<div class="formexplain">Name of the website or other source you got the image from.</div>

						<br /><label for="addimagesourcelink">Source URL: </label>
						<input id="addimagesourcelink" type="text" name="sourcelink" value="" size="30" maxlength="255" />
						<div class="formexplain"> Link to the website you got the image from, starting with the protocol, e.g. <em>https://</em>.</div>

						<br /><label for="addimagecopyright">Copyright Holder: </label>
						<input id="addimagecopyright" type="text" name="copyright" value="" size="30" maxlength="255" />
						<div class="formexplain">Name of the person or organization who owns this image.</div>
					</fieldset>
					<fieldset>
						<legend>Permissions</legend>
						{PERMISSION_GRANTED} {NO_PERMISSION}
						<div class="formexplain">Did the copyright owner give us permission to use this image?</div>
					</fieldset>
					<div class="formexplain">All caption elements are optional.</div>
				</fieldset>
			</div>
			<div class="leftalign" style="width:31% !important; padding-right:2%;">
				<fieldset>
					<legend class="highlight">Categories</legend>
						{CATEGORYSELECTION}
						<div class="formexplain">Optional, but strongly recommended, because this will help you find the image again later. Hold down the CTRL key to select more than one category.</div>
				</fieldset>
			</div>
			<div class="newline">
				<input type="button" id="addimage" name="addimage" value="Add New Image" class="mainoption" />
				&nbsp; &nbsp;
				<input type="button" id="addimageformcollapse" name="addimageformcollapse" value="Done" />
				&nbsp; &nbsp;
				<span id="statusmessage"></span>
			</div>
		</form>
	</div>
</div>
