<span id="{JSID}editcategoriescontents">
	<form>
		{HIDDENVARS}
		<fieldset>
			<legend class="highlight">Categories</legend>

					<p>
							{CATEGORYSELECTION}
							<br>&nbsp;<br><input type="button" id="{JSID}addcatbutton" name="addcatbutton" value="Add Categories" class="mainoption" />
							<input type="button" id="{JSID}removecatbutton" name="removecatbutton" value="Remove Categories" />
							&nbsp;&nbsp;
							<input type="button" id="{JSID}cancelcategoriesbutton" name="cancelbutton" value="Done" />
					</p>
			</span>
		</fieldset>
	</form>
</span>
