table.frame	{
	border: 10px #051A28 inset;
}

img.frame	{
	border: 0px transparent;
	background-repeat:no-repeat;
	width: 75px;
	height: 75px;
	margin:0px;
}

td.frame	{
	border: 0px transparent;
	background-repeat:no-repeat;
	width: 75px;
	height: 75px;
	margin:0px;
}

td.sea	{
	border: 5px #093D4E outset;
	background-image:url(water.png);
}

img.thumb {
	margin:5px;
	border: 1px #000000 solid;
}

#messages {
	width:150px;
	font-size:80%;
	padding-left: 2px;
	padding-right: 2px;
}

#gametitle {
	width:150px;
	font-size:100%;
	text-align:left;
	padding-left: 2px;
	padding-right: 2px;
}
