/*
 * An Gineadair Beag is a content management system to run websites with.
 *
 * Copyright (C) 2005-2019 GunChleoc
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

/************ General element styles ************/

html body {
    background-color: #44B4EC;
    color: #002373;
    font-family: Arial, Helvetica, sans-serif;
}

:lang(en) {
    color: #4B0026;
}
:lang(gd) {
    color: #002373;
}
:lang(cy) {
    color: #193218;
}

a:link {
    text-decoration: none;
}
a:link, a:link:lang(gd) {
    color: #0066CC;
}
a:link:lang(en) {
    color: #4E009E;
}
a:link:lang(cy) {
    color: #079b00;
}

a:visited {
    text-decoration: none;
}
a:visited, a:visited:lang(gd) {
    color: #005BB5;
}
a:visited:lang(en) {
    color: #623D87;
}
a:visited:lang(cy) {
    color: #479b43;
}

a:active, a:focus, a:hover {
    text-decoration: underline;
}

a:focus, a:focus:lang(gd) {
    color: #623D87;
}
a:focus:lang(en) {
    color: red;
}
a:focus:lang(cy) {
    color: green;
}

a:hover, a:hover:lang(gd) {
    color: #3333CC;
}
a:hover:lang(en) {
    color: #CC3399;
}
a:hover:lang(cy) {
    color: #079b00;
}

a:active, a:active:lang(gd) {
    color: blue;
}
a:active:lang(en) {
    color: #FF1751;
}
a:active:lang(cy) {
    color: #057300;
}

/* Highlighted text */
.highlight {
    font-weight: bold;
    color: #CC3399;
}

a.highlight {
    text-decoration: none;
    color: #AA8CA6;
}

a.highlight:hover {
    text-decoration: underline;
    color: #AA8CA6;
}

a.highlight:active {
    text-decoration: none;
    color: #E9ACB5;
}


/**************** Form elements *****************/

fieldset {
    border: 1px solid #002373;
}

legend {
    font-weight: bold;
}

/* The main submit button option */
input.mainoption {
    font-weight: bold;
    font-family: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
}

.buttonlink {
    text-decoration: none;
    border: #999999 1px solid;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(229,229,229,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(229,229,229,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(229,229,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(229,229,229,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

a.buttonlink {
    color: #333333;
    text-decoration: none;
}

a.buttonlink:hover {
    text-decoration: none;
}


/************ Main layout containers ************/

#navigator {
    background-color: #A9E2FF;
}

#banners {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

#contentarea {
    background-color: white;
    border: 1px solid #65CCFF;
}

/* Border around everything else */
#wrapper {
    background-color: #A9E2FF;
    background-image: url(img/bgfng.gif);
    background-repeat: no-repeat;
    border: 1px #65CCFF solid;
}


/************ Navigator elements ************/

/* "Home" link on navigator*/
#navhomelink {
    font-weight: bold;
}

.potdcaption {
    font-weight: bold;
    color: #000000;
}

.aotd {
    font-weight: bold;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}

/* Navigator - selected item */
.navhighlight, navhighlight span, .navhighlight:lang(gd), .navhighlight span:lang(gd) {
    color: blue;
}
.navhighlight:lang(en), .navhighlight span:lang(en) {
    color: #FF1751;
}
.navhighlight:lang(cy), navhighlight span:lang(cy) {
    color: #057300;
}

/* Navigator - links */
.navtitle, a.navtitle {
    text-decoration: none;
}
a.navtitle:active, a.navtitle:focus, a.navtitle:hover {
    text-decoration: underline;
}
.navtitle, a.navtitle, .navtitle:lang(gd), a.navtitle:lang(gd) {
    color: #002373;
}
.navtitle:lang(en) ,a.navtitle:lang(en) {
    color: #FF1751;
}
.navtitle:lang(cy) ,a.navtitle:lang(cy) {
    color: #057300;
}

/* Navigator link for the lower levels */
.navlink, a.navlink {
    text-decoration: none;
    font-weight: bold;
}
a.navlink:active, a.navlink:focus, a.navlink:hover {
    text-decoration: underline;
}
.navlink, a.navlink, .navlink:lang(gd), a.navlink:lang(gd) {
    color: #002373;
}
.navlink:lang(en), a.navlink:lang(en)  {
    color: #660066;
}
.navlink:lang(cy), a.navlink:lang(cy) {
    color: #057300;
}



/************ Header elements ************/

#sitedescription {
    font-style: italic;
}

.logoutlink {
    text-decoration: underline;
}

/* Page title in header and navigator elements on splashpage */
.headerpagetitle {
    border: #65CCFF;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #002373;
}

/* Site name */
.maintitle {
    font-weight: bold;
    font-family: "Monotype Corsiva", "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #000000;
}


/************ Footer elements ************/

.footer {
    font-family: Arial, Helvetica, sans-serif;
}


/************ Content titles ************/

/* The text used for individual pages' titles */
.pagetitle {
    font-weight: bold;
    font-family: "Monotype Corsiva", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.pagetitle, .pagetitle:lang(gd) {
    color: #0066CC;
}
.pagetitle:lang(en) {
    color: #FF1751;
}
.pagetitle:lang(cy) {
    color: #057300;
}

/* Titles for newsitemsections, articlesections */
.sectiontitle {
    font-family: "Monotype Corsiva", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.sectiontitle, .sectiontitle:lang(gd) {
    color: #0066CC;
}
.sectiontitle:lang(en) {
    color: #FF1751;
}
.sectiontitle:lang(cy) {
    color: #057300;
}

/* For newsitemsections */
.sectionsubtitle {
    font-family: "Monotype Corsiva", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.sectionsubtitle, .sectionsubtitle:lang(gd) {
    color: #0066CC;
}
.sectionsubtitle:lang(en) {
    color: #FF1751;
}
.sectionsubtitle:lang(cy) {
    color: #057300;
}

/************ Content elements ************/

/* Synopsis / page intros */
.introtext {
    font-weight: bold;
}

/* Copyright info */
.copyright {
    font-family: Arial, Helvetica, sans-serif;
}

.editdata {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}


/************ Menu pages ************/

/* content links - linklistmenu */
.contentnavlink {
    font-weight: bold;
}

/* content - linklistmenu pagetitles */
.contentnavtitle, a.contentnavtitle {
    text-decoration: none;
}
a.contentnavtitle:active, a.contentnavtitle:focus, a.contentnavtitle:hover {
    text-decoration: underline;
}
.contentnavtitle, a.contentnavtitle, .contentnavtitle:lang(gd), a.contentnavtitle:lang(gd) {
    color: #002373;
}
.contentnavtitle:lang(en), a.contentnavtitle:lang(en) {
    color: #FF1751;
}
.contentnavtitle:lang(cy), a.contentnavtitle:lang(cy) {
    color: #057300;
}

/************ Newsitems and articles ************/

/* News: filter form wrapper */
.newsfilterform {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}

/* Newsitem: wrapper */
.newsitem {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

/* Newsitem: Label for section with quoted text */
.newsquotetitle {
    font-weight: bold;
}

/* Newsitem: Section with quoted text */
div.newsquote {
    font-style: italic;
    background-color: #F2F1ED;
}

/* Newsitem and article: Source info */
.articlesource {}

.articleauthor {
    font-weight: bold;
    font-style: italic;
}

.articlelocation {}

.articledate {
    font-style: italic;
}

/* Article: Table of Contents */
.articletoc {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}


/************ Gallery ************/

.galleryimage {
    text-decoration: none;
}


/************ Linklist ************/

/* Linklist link */
.linklistlink {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}


/************ Images and image captions ************/

/* Image + caption text */
.captionedimage {
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.imagecaption {
    font-weight: bold;
    color: #000000;
    font-style: normal;
}


/************ Guestbook ************/

.guestbookentry {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}


/************ Tables ************/

table {
    box-shadow: 4px 4px 3px #aaaaaa;
       border: #398EB9;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
}

caption {
    border: #398EB9;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    background-color: #69C3F1;
    color: #002373;
    font-weight: bold;
    box-shadow: -1px -1px 20px 10px #3C9ECF inset;
}

th {
    border: #398EB9;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    background-color: #A9E2FF;
    color: #CC3399;
    font-weight: bold;
}

td {
    border: #398EB9;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background-color: #FFFFFF;
}
