<h1 class="headerpagetitle">Edit general page settings</h1>
{NAVIGATIONBUTTONS}
<!-- BEGIN switch CONTENTSFORM -->
{CONTENTSFORM}
<!-- END switch CONTENTSFORM -->
{RENAMEPAGEFORM}
{SETPUBLISHABLEFORM}
<!-- BEGIN switch PERMISSIONSFORM -->
{PERMISSIONSFORM}
{RESTRICTACCESSFORM}
<!-- END switch PERMISSIONSFORM -->

<br />
<div class="contentheader">Move this page</div>
<div class="contentsection">
	<div class="leftalign">{MOVEPAGEFORM}</div>
	<div class="rightalign">{FINDNEWPARENTFORM}</div>
	<div class="newline"></div>
</div>

<div><a href="#top" class="smalltext">Top of this page</a></div>
<br />
{NAVIGATIONBUTTONS}
