<?xml version="1.1" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="{LANGUAGE}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<link rel="stylesheet" href="{STYLESHEETCOLORS}" type="text/css">
	<link rel="stylesheet" href="{STYLESHEET}" type="text/css">
	<!-- BEGIN switch IS_REDIRECT -->
	<meta http-equiv="refresh" content="0;url={URL}" target="_top">
	<!-- END switch IS_REDIRECT -->
	<!-- BEGIN switch SCRIPT -->
	{SCRIPT}
	<!-- END switch SCRIPT -->
	<title>{SITE_NAME} - {HEADER_TITLE}</title>
</head>
<body>
	<a name="top"></a>
	<div id="wrapper">
		<!-- BEGIN switch TITLE --><div class="maintitle">{TITLE}</div><!-- END switch TITLE -->
		<div id="main">
			<div id="contentarea" style="margin-left: 0px; width: 97.5%;">
				<!-- BEGIN switch MESSAGE --><p class="highlight">{MESSAGE}</p><!-- END switch MESSAGE -->
				<!-- BEGIN switch URL --><p><a href="{URL}" target="_top">{URL_TEXT}</a></p><!-- END switch URL -->
			</div>
		</div>
	</div>
