<?xml version="1.1" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="{LANGUAGE}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<link rel="stylesheet" href="{STYLESHEET}" type="text/css">
	<title>{SITE_NAME} - {HEADER_TITLE}</title>
</head>
<body>
	<a name="top"></a>
	<h1 class="maintitle">{TITLE}</h1>
	{NAVIGATOR}
	{CONTENTS}
	<div class="newline">
		<hr>
		<span class="footer"><i>Source: {URL}</i></span>
	</div>
</body>
</html>
