.intro {
	font-size:10pt;
	font-style:italic
}

.heading {
	font-size:14pt;
	font-weight:bold;
	font-family:sans-serif
}

.title {
	font-size:18pt;
	font-weight:bold;
	background-color:navy;
	color:white;
	text-align:center;
	font-family:sans-serif
}

td.cuan	{
	background-image:url(./ocean.png);
	background-repeat:no-repeat;
	border: 1px #65CCFF solid;
	width: 638;
	height: 479;
}

img.leac {
	border: 0px;
}

div.log {
	height: 440px;
	margin-left:5px;
	margin-right:5px;
	overflow:-moz-scrollbars-vertical;
	overflow-y:auto;
	text-align:left;
	font-size: 75%;
}

div.status {
	height: 410px;
	margin-left:5px;
	margin-right:5px;
	overflow:-moz-scrollbars-vertical;
	overflow-y:auto;
	text-align:left;
	font-size: 80%;
	line-height: 1.5em;
}
