<div class="contentheader">Edit Image <input id="{JSID}closeimageeditor" type="button" value="Done" /></div>
<div class="contentsection">
	{HIDDENVARS}
	<div class="leftalign" style="width:56%">
		{FILENAMEPANE}
		<div id="{JSID}editorlayoutpane">{LAYOUTPANE}</div>
	</div>
	<div id="{JSID}editorimagepane" class="rightalign">{IMAGEPANE}</div>
	<div class="newline"></div>
</div>
