<form method="post">
	<fieldset>
		<legend class="highlight">File</legend>
		<label for="{JSID}imagefilename">Filename:</label>
		<input id="{JSID}imagefilename" type="text" name="imagefilename" size="50" maxlength="255" value="{IMAGEFILENAME}" />
		<div class="formexplain">Change to a different image by putting in a filename without the path (<a href="{IMAGELISTPATH}" target="_blank">View files</a>)<br />Remove the image by entering a blank file name.</div>
		<input id="{JSID}submitfilename" type="submit" name="changeimage" value="{SUBMITNAME}" class="mainoption" />
		&nbsp;&nbsp;<input id="{JSID}resetfilename" type="reset" value="Reset" />
	</fieldset>
</form>
