<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<link rel="stylesheet" href="{STYLESHEETCOLORS}" type="text/css">
  	<link rel="stylesheet" href="{STYLESHEET}" type="text/css">
  	<link rel="stylesheet" href="{ADMINSTYLESHEET}" type="text/css">
  <!-- BEGIN switch IS_REDIRECT -->
  <meta http-equiv="refresh" content="0;url={URL}" target="_top">
  <!-- END switch IS_REDIRECT -->
	<title>{HEADERTITLE}</title>
</head>
<body onload="document.getElementById('user').focus()">

<div id="wrapper">
	<div class="maintitle">Webpage Building login</div>
	<div id="main">
		<div id="contentarealogin">
			<!-- BEGIN switch MESSAGE --><div class="inlinemessage">{MESSAGE}</div><!-- END switch MESSAGE -->
			<a name="top"></a>
			<!-- BEGIN switch URL -->
			<p><a href="{URL}" target="_top">{URL_TEXT}</a></p>
			<!-- END switch URL -->
