<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Style-Type" content="text/css">
		<link rel="stylesheet" href="{STYLESHEET}" type="text/css">
		<link rel="stylesheet" href="{STYLESHEETCOLORS}" type="text/css">
		<title>{HEADERTITLE}</title>
	</head>
	<body>
		<div id="wrapper">
			<div class="maintitle">Webpage Building - Previewing Newsitem</div>
			<div id="main">
				<div id="contentarealogin">
					<div id="contentarea">
						{CONTENT}
						<div class="newsitem">
							<form><input type="button" name="close" value="Close" onClick="window.close()" class="mainoption"></form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
