/*
 * An Gineadair Beag is a content management system to run websites with.
 *
 * Copyright (C) 2005-2019 GunChleoc
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

/************ overwrite background colors for form elements ************/

textarea, select, input {
    background-color : #01172E!important;
}

textarea:disabled, select:disabled, input:disabled {
    background-color : #0B2A3A!important;
    color:#909090;
}

/* Separate properties for buttons; not supported by IE */
input[type=button], input[type=submit], input[type=reset], .button  {
    font-size:95%;
    background-color : #0B2A3A!important;
}

/************ main layout containers ************/
html, body {
    height:100%;
    margin:0;
    overflow: hidden;
}

#header {
    /*border-style: solid;
    border-width: 0px 0px 1px 0px;*/
    padding-bottom:0.5em;
    height:8em;
}

#navigatorscroll {
    height:97%;
    overflow:auto;
    resize:horizontal;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding-left:0.5em;
    font-size: 95%;
    background-color: #0B2A3A;
}


#adminnavigator {
    width: 19.5%;
    position: absolute;
    padding: 0.20em;
    margin-top: 0.5em;
    font-size: 150%;
    margin-top: 0em;
    padding-top: 0em;
    height:72%;
    background-color: #0B2A3A;
}

#navigatorfixed {
    margin-top: 0em;
    padding-top: 0em;
    font-size:80%;
}

#admincontentarea {
    z-index: 100;
    min-width: 1px;
    width: 77%;
    height:78% !important;
    max-height: 78% !important;
    overflow:auto;
    padding: 1em;
    padding-top: 0em;
    padding-bottom: 1.5em;
    margin-left: 21%;
    margin-top: 1.5em;
    border: 1px solid #ccccff;
    background-color: #0F384D;
}

#wrapper {
    height:93%;
    max-height:93%;
}


/************ header ************/

.admintoplinks {
    color:#FFCCCC;
    font-weight: bold;
    border: 1px solid #ccccff;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    background-color: #0B2A3A;
    height:1.2em;
    box-shadow:-1px -1px 3px 1px #305360 inset;
    background-image: url(img/navigator.gif);
    background-repeat:repeat-x;
}
.admintoplinks a {color: white; }

.admintoppageinfo {
    font-size:120%;
    margin:0.25em;
}


/* Site name */
.maintitle    {
    font-size: 250%;
    margin:0.25em;
}

/************ navigator ************/


/* Navigator category for site functions */
.sitenavcategory {
    width: 100%;
    text-align: left;
    border: #ccccff;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    margin-top: 1em;
    font-size: 100%;
    color : #FFCCCC;
}

/* Navigator link for site functions */
.sitenavlink {
    font-weight: bold;
    font-size: 70%;
    margin-left:1em;
    margin-bottom:0.25em;
}
.sitenavlink a {
    color: white;
    text-decoration: none;
}

a.admintopframelink {
    text-decoration: none;
}

/************ content ************/

.inlinemessage {
    width: 100%;
    text-align: center;
    border: #ccccff;
    background-color: #0B2A3A;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    margin-top: 1em;
    font-size: 100%;
    box-shadow:4px 4px 3px #305360;
}

/* For admin messages when saving etc */
.messagebox {
    position: absolute;
    overflow: auto;
    z-index: 10;
    background:#0B2A3A;
    padding:10px;
    border:2px solid #ccccff;
    text-align:center;
    opacity: 0;
}


/* Title for content area */
/* todo kann weg? */
.contenttitle {
    font-size: 250%;
}

.headerpagetitle {
    margin-top: 1em;
}


/* Subtitle for dividing content area */
.contentheader {
    text-align: center;
    border-color: #CCCCFF;
    border-style: solid;
    border-width: 1px;
    padding-top: 0.4em;
    padding-bottom: 0.35em;

    padding-left:0.5em;
    padding-right:0.5em;

    font-size: 140%;
    color: #FFFFCC;
    background-color: #0F384D;
    background-image:url(img/title.gif);
    height: 20px;
}


/* Framing for sections of the page when editing contents */
.contentsection
{
    padding:10px;
    background-color: #0B2A3A;
    border: 1px #ccccff solid;
    margin-bottom: 2em;
    margin-top:0px;
}

.contentoutline {
    margin-top:2em;
    box-shadow:4px 4px 3px #305360;
}

.contentheadersmall {
    font-weight:bold;
    padding-top:1em;
    font-size:110%;
}

.movebuttonrow {
    margin-top:1em;
    padding-top:1em;
    padding-bottom:0.5em;
    text-align:left;
    border: #ccccff;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

/************ tables ************/

table.userlist {
    width:96%!important;
    margin-left:2%!important;
    margin-right:0em!important;
}

/************ editor ************/

.editorbuttonrow {
    margin-top:1em;
    padding-top:1em;
    padding-bottom:0.5em;
    text-align:center;
    border: #ccccff;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

.editorlineleft {
    border-left: 1px solid #ccccff;
    margin:0.5em;
    padding-left:1em;
}

.editorcodebuttonrow {
    margin-left:2em;
    padding-top:1em;
    padding-bottom:1em;
}

.editorcodebutton {
    padding:0px;
    margin:0.5em;
}

.editorpreviewarea {
    background-color: #01172E;
    padding: 1em;
    margin-bottom:1em;
}

/************ forms ************/

.submitrow {
    padding-top:1em;
    text-align:left;
}

/* Explanation at bottom of fieldset */
/* todo this gets ignored. Why? */
.formexplain {
    padding-top:0.5em;
}

.labelleft {
    width:15em;
}

.shortlabelleft {
    width:7em;
}

label {
    font-weight:bold;
}

.pageeditnavigationbuttons {
    padding-top:1em;
    margin-top:1em;
    margin-bottom:1em;
}

/************ Login & Profile form ************/

#contentarealogin {
    border: 1px solid #ccccff;
    margin-top:1em;
    background-color: #01172E;
    padding:5em;
}

/************ Image Database ************/


.imagecontentarea {
    overflow: auto;
    border: 1px solid #ccccff;
    background-color: #01172E;
    margin-top:1em;
    width: 96%;
    padding-left:2em;
    padding-right:2em;
    margin-top:1em;
    margin-bottom:1em;
}

#imagelistwrapper {
    overflow: scroll;
    background-color: #0B2A3A;
    border: 1px #ccccff solid;
    padding: 1em;
    height:98% !important;
    max-height: 98% !important;
}

#overlay-background {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(150,150,150,0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    border: 2px solid #89CAC8;
    padding: 0.1em;
    background-color: #01172E;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
