{JAVASCRIPT}
{HIDDENVARS}
<form>
	<fieldset>
		<legend class="highlight">Edit Menu Page Options</legend>
		<fieldset>
			<legend>todo: I need to overhaul all this</legend>
			{SISTERSINNAVIGATOR}
		</fieldset>
		<fieldset>
			<legend>Numbers of levels to display on page</legend>
		{PAGELEVELSFORM}
		</fieldset>
		<fieldset>
			<legend>Numbers of levels to display in navigator</legend>
			{NAVIGATORLEVELSFORM}
		</fieldset>
		<input type="button" id="{JSID}saveoptionsbutton" name="saveoptionsbutton" value="Save Levels" class="mainoption" />
		&nbsp;&nbsp;
		<input type="reset" id="{JSID}saveoptionsreset" name="saveoptionsreset" value="Reset" />
	</fieldset>
</form>
