<div id="{JSID}moveitem" name="moveitem" class="contentsection" style="display: grid; grid-template-columns: auto auto; grid-template-rows: auto;">
  <div id="{JSID}title" class="sectiontitle">{TITLE}</div>
  <div style="text-align:right;">{MOVEEDITOR}</div>
</div>
