/* Stylesheet for Print View */

/* General font families for common tags */
/*font,th,td,p,div,span { font-family: Verdana, Arial, Helvetica, sans-serif; }*/
font,th,td,p,div,span { font-family: serif; }

td.table {}

/*a:link,a:active,a:visited {text-decoration: underline; }*/
/*a:hover		{ text-decoration: underline; }*/

/* This is the border line & background colour round the entire page */
.bodyline	{ border: 1px #00AEED solid; }


th	{
border-width: 1px 1px 1px 1px;
}

th.thHead,th.thTop {
	font-weight: bold; border-style: solid; height: 28px;
}

th.thHead { font-size: 100%; border-width: 1px 1px 0px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }

td.spacer {
			border: 1px solid; height: 5px;
}

th.thTop,thHead	 { border-width: 1px 0px 0px 0px; }
a.thTop 	{text-decoration: none;}
a.thTop:hover{text-decoration: underline; }
a.thTop:active {text-decoration:none; font-weight:bold; }




/* The largest text used in the index page title and toptic title etc. */
.maintitle	{
	font-weight: bold; font-size: 250%; font-family: "Comic Sans MS",Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none; line-height : 160%;
}

/* The text used for indiidual page's titles */
.pagetitle	{
	font-weight: bold; font-size: 150%; font-family: "Comic Sans MS",Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none; line-height : 160%;
}

/* Articles */
.articlesource	{font-size : 100%;  }
.articleauthor	{font-size : 100%; font-weight: bold;	font-style: italic; }
.articlelocation	{font-size : 100%;}
.articledate	{font-size : 100%; 	font-style: italic;}
.articlesynopsis	{font-size : 100%; font-weight: bold;}

/* The text used for individual page's titles */
.sectiontitle	{
	font-size: 140%;  font-family: sans-serif;
	text-decoration: none; line-height : 160%;
  margin-top:1em;
}

/* The text used for individual page's titles */
.sectionsubtitle	{
	font-size: 130%;  font-family: sans-serif;
	text-decoration: none; line-height : 160%;
  margin-top:1em;
}

/* Highlighted text */
.highlight	{ font-size : 100%; font-weight: bold; }
a.highlight 	{ text-decoration: underline; }
a.highlight:hover{ text-decoration: underline; }
a.highlight:active { text-decoration:none; font-weight:bold; }

/* Image caption text */
.caption	{ font-weight: bold; font-size: 90%;}
a.caption 	{ text-decoration: underline; }
a.caption:hover{ text-decoration: underline; }
a.caption:active { text-decoration:none; font-weight:bold; }


/* The text used for individual page's titles */
.navtitle	{ font-weight: bold; }
a.navtitle 	{ text-decoration: none;  }
a.navtitle:hover{ text-decoration: underline;  }
a.navtitle:active { text-decoration:none; font-weight:bold; }

.navhighlight	{font-size: 110%; }


/* Linklist link */
.linktitle	{ font-size: 110%; }
a.linktitle 	{ text-decoration: none; }
a.linktitle:hover{ text-decoration: underline; }
a.linktitle:active { text-decoration:none; font-weight:bold; }

/* General text */
.gen, div.gen, span.gen { font-size : 100%; }
.genmed, div.genmed, span.genmed { font-size : 90%; }
.gensmall, div.gensmall, span.gensmall { font-size : 80%; }
a.gen,a.genmed,a.gensmall { text-decoration: underline; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ text-decoration: none; }

/* Quoted text */
.quote, p.quote { font-size : 75%; font-style: italic; }
a.quote { text-decoration: underline; }
a.quote:hover	{ text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 70%; }
a.mainmenu		{ text-decoration: underline; }
a.mainmenu:hover{ text-decoration: underline; }

/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 100%; }
a.forumlink 	{ text-decoration: none; }
a.forumlink:hover{ text-decoration: none; }
a.forumlink:active { text-decoration:none; font-weight:bold; }

/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 100%; }
a.nav			{ text-decoration: underline; }
a.nav:hover		{ text-decoration: underline; }

/* Copyright and bottom info */
.footer		{ font-size: 90%; letter-spacing: -1px;}
a.footer		{ text-decoration: underline;}
a.footer:hover { text-decoration: underline;}

/* Form elements */
input,textarea, select {
	font: normal 70% Verdana, Arial, Helvetica, sans-serif;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	font-size: 70%;
}

/* The main submit button option */
input.mainoption {
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	font-weight : normal;
}
