<div class="contentsection leftalign" style="margin:2em">
	{IMAGE}
	<!-- BEGIN switch ERROR -->
	<span class="highlight">{ERROR}</span>
	<!-- END switch ERROR -->
	<form name="newsitemimagepropertiesform" action="{ACTIONVARS}" method="post">
		<div style="margin:1em">
			<input type="submit" name="removeimage" value="Remove image" />
			{REMOVECONFIRMFORM}
		</div>
		<div class="newline"></div>
	</form>
</div>
