<h1 class="headerpagetitle">Edit Synopsis & news page settings</h1>
{NAVIGATIONBUTTONS}
<div class="contentoutline">
	<div class="contentheader">Edit Synopsis</div>
		<div class="contentsection">
			{INTRO}
			{IMAGEEDITOR}
		</div>
	</div>
	<div class="contentheader">Global Functions for this News Page</div>
	<div class="contentsection">
		<div class="leftalign">{NEWSITEMDISPLAYORDERFORM}</div>
		<div class="rightalign">
			<form name="rssform" action="{ACTIONVARS}" method="post">
					<!-- BEGIN switch RSSBUTTON -->{RSSBUTTON} &nbsp;&nbsp;&nbsp; <!-- END switch RSSBUTTON -->
					<input type="submit" name="{FIELDNAME}" value="{BUTTONTEXT}" class="mainoption">
			</form>
			<br />{NEWSITEMARCHIVEFORM}
		</div>
		<div class="newline"></div>
	</div>

	<div><a href="#top" class="smalltext">Top of this page</a></div>
	<br />
	{NAVIGATIONBUTTONS}
</div>
