<div class="contentheader">Source, Date & Categorization</div>
<form id="{JSID}sourceform" class="contentsection" method="post" onsubmit="event.preventDefault();">
	<fieldset>
		<legend class="highlight">Source</legend>
		<label for="{JSID}contributor">Found by:</label>
		<input id="{JSID}contributor" type="text" name="contributor" size="58" maxlength="255" value="{CONTRIBUTOR}" />
		<br /><label for="{JSID}location">Location:</label>
		<input id="{JSID}location" type="text" name="location" size="58" maxlength="255" value="{LOCATION}" />
		<br /><label for="{JSID}source">Source name:</label>
		<input id="{JSID}source" type="text" name="source" size="58" maxlength="255" value="{SOURCE}" />
		<br /><label for="{JSID}sourcelink">Source link:</label>
		<input id="{JSID}sourcelink" type="text" name="sourcelink" size="58" maxlength="255" value="{SOURCELINK}" />
	</fieldset>
	<input type="button" id="{JSID}savesourcebutton" name="savesourcebutton" value="Save Changes" class="mainoption" />
	&nbsp;&nbsp;
	<input id="{JSID}savesourcereset" type="reset" value="Reset" />
</form>
