<form>
	{JAVASCRIPT}
	{HIDDENVARS}
	<!-- BEGIN switch DISPLAYTITLE -->
	<span id="{JSID}displaytitle" class="sectiontitle" title="Click to edit title">{DISPLAYTITLE}</span>
	<!-- END switch DISPLAYTITLE -->
	<!-- BEGIN switch BUTTON -->
	<input id="{JSID}addtitle" type="button" value="Add Title" />
	<!-- END switch BUTTON -->
</form>
