<form id="{JSID}titleeditorform" method="post" onsubmit="event.preventDefault();">
	{JAVASCRIPT}
	{HIDDENVARS}
	{LANGFORM}
	<input id="{JSID}title" type="text" name="title" size="60" maxlength="255" value="{TITLE}" />
	<input type="button" id="{JSID}savetitlebutton" name="savetitlebutton" value="Save Title" class="mainoption" />
	&nbsp;&nbsp;&nbsp;
	<input id="{JSID}savetitlereset" type="reset" value="Reset" />
	&nbsp;
	<input id="{JSID}savetitlecancel" type="button" value="Cancel" />
</form>
