<h1 class="headerpagetitle">Edit Linklist</h1>
{NAVIGATIONBUTTONS}
<div class="contentheader">Links</div>
<div class="contentsection" >
	{INSERTEDITOR}
	{LINKFORM}
</div>
<div class="contentheader"><span id="{JSID}sorting">Sorting</span></div>
<div class="contentsection">
	<form name="sortlinks" action="{ACTIONVARS}" method="post">
		<fieldset>
			<legend class="highlight">Sort the links on this page</legend>
			<input type="submit" name="sortlinks" value="Sort from A-Z" />
		</fieldset>
	</form>
</div>
<div><a href="#top" class="smalltext">Top of this page</a></div>
<br />
{NAVIGATIONBUTTONS}
