<form name="{ID}redirectseditform" action="{ACTIONVARS}" method="post">
  {HIDDENVARS}
  <form name="{ID}editform" action="{ACTIONVARS}" method="post">
    <label for="{ID}pattern">Regular Expression: </label>
    <input id="{ID}pattern" type="text" name="pattern" size="50" maxlength="255" value="{PATTERN}" />
    <label for="{ID}replacement">Replacement: </label>
    <input id="{ID}replacement" type="text" name="replacement" size="50" maxlength="255" value="{REPLACEMENT}" />
    <input type="submit" name="editredirect" value="Save Changes" class="mainoption" />
</form>
