<h1 class="headerpagetitle">Edit Synopsis</h1>
{NAVIGATIONBUTTONS}
<div class="contentoutline">
  <div class="contentheader">Edit Synopsis</div>
		<div class="contentsection">
      {INTRO}
      {IMAGEEDITOR}
    </div>
  </div>
</div>
<div><a href="#top" class="smalltext">Top of this page</a></div>
<br />
{NAVIGATIONBUTTONS}
