<div class="newline">
	<!-- BEGIN switch NOTEXT -->
	<input type="button" id="{JSID}expandbutton" name="expandbutton" value="Add Text" class="mainoption" />
	<!-- END switch NOTEXT -->
	{HIDDENVARS}
</div>
