<div class="newline editorbuttonrow">
	<input type="button" id="{JSID}expandeditedbutton" name="expandeditedbutton" value="Continue editing" class="mainoption"  />
	&nbsp;&nbsp;
	<input type="button" id="{JSID}dismissbutton" name="dismissbutton" value="Discard changes" class="mainoption"  />
	{HIDDENVARS}
</div>
